*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.fast-food-dask {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
}

.details-block {
    width: 35%;
    height: 416px;
}
.items-block {
    width: 65%;
}

@media (max-width: 500px) {
    .details-block,
    .items-block {
        width: 100%;
    }
}

.fieldset {
    height: 100%;
}